@model projectD.Models.Item
<div class="mdl-card card-item mdl-color--primary mdl-color-text--primary-contrast">
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Count)
    @Html.HiddenFor(x => x.Name)
    @Html.HiddenFor(x => x.Price)
    @Html.HiddenFor(x => x.Type)

    <div class="flex-container">
        <div>
            <label>@Model.Name</label>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons">clear</i>
        </button>
    </div>
    <div class="flex-container">
        <div>
            <label>Количество: @Model.Count @Model.Type</label>
        </div>
        <div>
            @{
                string qwe = Model.Sum().ToString().Replace(',','.');
            }
            <label>Сумма: </label><label class="itemSum">@qwe</label>
        </div>
    </div>
</div>
