@using projectD.Models
@model Invoice
@*Блок "Данные продавца"*@
<div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__title" style="padding:0px;">
        <h2 class="mdl-card__title-text">Данные продавца</h2>
    </div>
    <div class="mdl-card__supporting-text" style="padding:0px;">
        <div>
            <h4 class="mdl-typography--body-1">Наименование организации</h4>
            @Html.EditorFor(x => x.Organization.Name, new { fieldTitle = "Наименование" })
        </div>
        <div>
            <h4 class="mdl-typography--body-1">Адрес</h4>
            @Html.EditorFor(x => x.Organization.Address)
        </div>
        <div>
            <h4 class="mdl-typography--body-1">Наименование счета</h4>
            @Html.EditorFor(x => x.Number, new { fieldTitle = "№ счета" })
            @Html.EditorFor(x => x.Date, new { fieldTitle = "Дата" })
        </div>
    </div>
</div>
<div class="mdl-cell mdl-cell--1-col"></div>
@*Блок "Реквезиты продавца"*@
<div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__title" style="padding:0px;">
        <h2 class="mdl-card__title-text">Реквизиты продавца</h2>
    </div>
    <div class="mdl-card__supporting-text" style="padding:0px;">
        @Html.EditorFor(x => x.Organization.PaymentDetails.INN, new { fieldTitle = "ИНН" })
        @Html.EditorFor(x => x.Organization.PaymentDetails.KPP, new { fieldTitle = "КПП (для ООО)" })
        @Html.EditorFor(x => x.Organization.PaymentDetails.Account, new { fieldTitle = "Счет" })
        @Html.EditorFor(x => x.Organization.PaymentDetails.KorAccount, new { fieldTitle = "Кор. счет" })
        @Html.EditorFor(x => x.Organization.PaymentDetails.BIK, new { fieldTitle = "БИК банка" })
        @Html.EditorFor(x => x.Organization.PaymentDetails.BankName, new { fieldTitle = "Название банка" })
        @*<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
            <label class="mdl-textfield__label" for="sample4">ИНН</label>
            <span class="mdl-textfield__error">Input is not a number!</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
            <label class="mdl-textfield__label" for="sample4">КПП (для ООО)</label>
            <span class="mdl-textfield__error">Input is not a number!</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
            <label class="mdl-textfield__label" for="sample4">Счет</label>
            <span class="mdl-textfield__error">Input is not a number!</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
            <label class="mdl-textfield__label" for="sample4">Кор. счет</label>
            <span class="mdl-textfield__error">Input is not a number!</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
            <label class="mdl-textfield__label" for="sample4">БИК банка</label>
            <span class="mdl-textfield__error">Input is not a number!</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="sample3">
            <label class="mdl-textfield__label" for="sample3">Название банка</label>
        </div>*@
    </div>
</div>
@*Кнопка с выпадающим меню*@
<div class="mdl-card__menu">
    <button onclick="return false" id="cardMenuSeller" class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect mdl-button--icon">
        @*mdl-button--fab*@
        <i class="material-icons">create</i>
    </button>
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="cardMenuSeller">
        <li class="mdl-menu__item" data-id="12" onclick="loadSellerCard()">Name</li>    
        @*@foreach (var item in Model.OrganizationList)
        {
            <li class="mdl-menu__item" data-id="@item.Id">@item.Name</li>    
        }*@
    </ul>
</div>

@*<script>
    $("#newDocForm #")
    MaterialTextfield()
</script>*@