@model double?
@{
    string name = Html.NameForModel().ToString();
    string title = ViewData["fieldTitle"] == null ? "" : ViewData["fieldTitle"].ToString();
}
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="@name">
    <input class="mdl-textfield__input" type="text" pattern="(\d+)?([\.,]\d+)?" name="@name" value="@Model">
    <label class="mdl-textfield__label" for="sample4">@title</label>
</div>
<div class="mdl-tooltip" data-mdl-for="@name">
    Например 12.34
</div>

